<h1>Shortvisit#show</h1>

<p>
  <strong>Ip:</strong>
  <%= @shortvisit.ip %>
</p>

<p>
  <strong>City:</strong>
  <%= @shortvisit.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @shortvisit.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @shortvisit.country %>
</p>

<p>
  <strong>Shorturl:</strong>
  <%= @shortvisit.shorturl.original_url %>
</p>
